.layout {
  /* height: 100vh; */

  display: flex;
  flex-direction: row;
}
.main {
  width: 100%;
}
.table {
  border-radius: 1rem;
  border: transparent !important;
  outline: 4px solid var(--color-main-darker);
  box-shadow: inset var(--shadow-sidebar-thead);
}
/*
tr {
  height: 7.5rem;
} */
thead {
  background-color: var(--color-main-darker);
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 800;
}
td {
  border-bottom-width: 0 !important;
  padding: 0 !important;
}
.t-span {
  min-height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

tbody tr:nth-child(even) {
  background: var(--color-row-even);
}
tbody tr:nth-child(odd) {
  background: var(--color-row-odd);
}

/* td:first-of-type {
  padding-left: 4rem;
} */
